
.main {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(
        49% 81% at 45% 47%,
        #813ac145 0%,
        #073aff00 100%
        ),
        radial-gradient(113% 91% at 17% -2%, #6b81ffff 1%, #ff000000 99%),
        radial-gradient(142% 91% at 83% 7%, #a1d2bcff 1%, #ff000000 99%),
        radial-gradient(142% 91% at -6% 74%, #4db867ff 1%, #ff000000 99%),
        radial-gradient(142% 91% at 111% 84%, #d400ffff 0%, #ff0000ff 100%)
        , url(./weird.jpg);
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;    
        background-blend-mode: hard-light;
}
.navbar {
  cursor: pointer;
  padding: 1px 1px 1px 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7%;
  /* border: 1.5px solid white; */
  border-radius: 5px;
  transition: 1000ms;
}
ul {
  margin-right: 1px;
  opacity: 100%;
  margin: auto 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 13%;
  height: 100%;
  transition: 1000ms;
}
ul li {
  font-family: "oxygen";
  color: rgba(255, 255, 255, 0.685);
  text-align: center;
  width: 54px;
  margin: 0px 1%;
  padding: 1%;
  /* border: 1px solid rgba(239, 235, 235, 0.838); */
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 1000ms;
}
ul li:hover{
  color: #495253;
text-decoration: underline;
}
body {
  overflow: hidden;
  transition: 1000ms;
}
.logo {
  color: #495253;
  margin: auto 0px;
  align-self: flex-start;
  font-family: "Quicksand";
  font-weight: 800;
  font-size: 1.2rem;
  transition: 1000ms;
}
.content-container {
  display: flex;
  width: 100%;
  height: 100vh;
  transition: 1000ms;
}
#txt {
  display: flex;
  cursor: default;
  display: flex;
  justify-content: center;
  width: 50rem;
  height: 25rem;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  transition: 1000ms;
}
h2 {
  margin: 0px;
  color: #fcfbff96;
  font-size: 2rem;
  font-family: 'Tilt-neon';
}
image {
  max-width: 100%;
  height: auto;
  transition: 1000ms;
}
#img {
  margin: 4% 0%;
  width: 50rem;
  height: 25rem;
  background-image: url(./picture.png);
  background-position: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  animation: flip 1s ease 5s 1;
  transition: 2s;
}
#img:hover {
  transform: scale(1.1, 1.1);
}
#txt:hover {
  transform: scale(1.1, 1.1);
}

@keyframes flip {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
#join_us:hover{
  transform: scale(1.2 ,1.2);
  transition: 100ms;
  background: linear-gradient(rgb(106 118 201), rgb(162 179 157));
  }

#join_us {
    transition: 1000ms;
    cursor: pointer;
    align-self: center;
    /* margin-top: 7%; */
    font-family: "Source code pro"; 
    font-size: 1.5em;
    width: 140px;
    height: 50px;
    border-width: 1px;
    color: rgba(245, 245, 245, 1);
    border-color: rgba(146, 144, 161, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 10px 14px -7px #aa1fb3;
    text-shadow: 0px 1px 0px #ececec;
    background: linear-gradient(rgb(143 151 202), rgb(174 98 181));
};
